.imageUpload_wrap {
    font-family: sans-serif;
    /* text-align: center; */
    background-color: #f6f9fe;
    /* height: 100vh; */
  }
  .image-item {
    display: flex;
    cursor: pointer;
    /* margin: 10px 0; */
  }
  .image-item__btn-wrapper {
    display: flex;
    flex-direction: column;
    position: absolute;
    gap: 25px;
  }
  button {
    height: 40px;
  }

  .imageUpload_btn1{
    height: 100px;
     width: 100px; 
    border-radius: 100px;
    background: none;
    border:1px solid #e2ddd6
  }
  