.navbar_search{
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;

  }

  ::placeholder {
    color: #A19989;
    opacity: 1; /* Firefox */
  }

  .navbar_search::-webkit-search-decoration,
  .navbar_search::-webkit-search-cancel-button,
  .navbar_search::-webkit-search-results-button,
  .navbar_search::-webkit-search-results-decoration {
    display: none;
}
  